<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4815928025-e2mhtqasvm84lgbiktcudrh79fc4t5d8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4815928025-e2mhtqasvm84lgbiktcudrh79fc4t5d8</string>
	<key>API_KEY</key>
	<string>AIzaSyCbdziNh1lnJFPA8r1fFgNqjk44KKjbXg4</string>
	<key>GCM_SENDER_ID</key>
	<string>4815928025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.videoplayeradmin.videoPlayerAdmin</string>
	<key>PROJECT_ID</key>
	<string>videoplayer-4f23e</string>
	<key>STORAGE_BUCKET</key>
	<string>videoplayer-4f23e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4815928025:ios:7df0b2dbc3b84044681cc8</string>
</dict>
</plist>